<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MeetingRooms.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>8EA8B7C41E2DA12D00623A6E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8EA8B7D81E2DA12E00623A6E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8EA8B7E31E2DA12E00623A6E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
